.gradle/
build/
*/build/

local.properties

.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/deploymentTargetSelector.xml
.idea/deviceManager.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

*.iml

build/codex-assembleDebug.log
build/codex-assembleDebug.err.log

.DS_Store

/captures/
.externalNativeBuild/
.cxx/
